.m-circle {
  display: block;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  border: 2px solid #fff;
  background: transparent;
  transition: all 0.3s ease-in-out;
}
.nav__pages-link:hover .m-circle {
  background: #fff;
}
.tw-event-pointer-none {
  pointer-events: none;
}
.tw-event-pointer-fill {
  pointer-events: fill;
}
.tw-w-full {
  width: 100%;
}
.tw-flex {
  display: flex;
}
.tw-py-rem {
  padding-block: 1rem;
}
.tw-py-3rem {
  padding-block: 3rem;
}
.tw-px-rem {
  padding-inline: 1rem;
}
.tw-color-white {
  color: #fff;
}
.tw-text-center {
  text-align: center;
}
.tw-align-center {
  align-items: center;
}
.tw-justify-center {
  justify-content: center;
}
.tw-h-70vh {
  height: 75vh;
}
.tw-h-fill {
  height: 100%;
}
.tw-font-2rem {
  font-size: 2rem;
}
.tw-font-4rem {
  font-size: 4rem;
}
.tw-mb-1 {
  margin-bottom: 5px;
}
.tw-flex-flow-wrap {
  flex-flow: wrap;
}
.tw-col-12 {
  width: 100%;
}
.mh-colors-transition:hover.tw-onHover-bg-white {
  background-color: #fff;
  transition: all 0.3s ease-in-out;
}
.mh-colors-transition:hover .tw-onHover-color-black {
  color: #000;
}
.mh-colors-transition .tw-onHover-color-pink:hover {
  color: #e91c7e;
}
.tw-order-1 {
  order: 1;
}
.tw-order-2 {
  order: 2;
}
@media (min-width: 900px) {
  .tw-col-md-6 {
    width: 50%;
  }
  .tw-order-md-1 {
    order: 1;
  }
  .tw-order-md-2 {
    order: 2;
  }
}
.nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px;
  padding-block: 15px;
  z-index: 999;
}
.nav__mobile {
  display: none;
}
@media only screen and (max-width: 56.25em) {
  .nav__mobile {
    display: block;
  }
}
.nav__mobile__checkbox {
  display: none;
}
.nav__mobile__button {
  height: 7rem;
  width: 7rem;
  position: fixed;
  top: 6rem;
  right: 6rem;
  border-radius: 50%;
  z-index: 2000;
  text-align: center;
  cursor: pointer;
}
@media only screen and (max-width: 56.25em) {
  .nav__mobile__button {
    top: 1rem;
    right: 3rem;
  }
}
.nav__mobile__background {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  z-index: 1000;
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
}
@media only screen and (max-width: 56.25em) {
  .nav__mobile__background {
    top: 3.5rem;
    right: 3.5rem;
  }
}
.nav__mobile__nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
  background: #151515;
  height: 0;
  opacity: 0;
  width: 0;
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.nav__mobile__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%;
}
.nav__mobile__item {
  margin: 1rem;
}
.nav__mobile__link:link,
.nav__mobile__link:visited {
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  padding: 1rem 2rem;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(
    120deg,
    transparent 0%,
    transparent 50%,
    #fff 50%
  );
  background-size: 220%;
  transition: all 0.4s;
}
.nav__mobile__link:link span,
.nav__mobile__link:visited span {
  margin-right: 1.5rem;
  display: inline-block;
}
.nav__mobile__link:hover,
.nav__mobile__link:active {
  background-position: 100%;
  color: #151515;
  transform: translate(1rem);
}
.nav__mobile__checkbox:checked ~ .nav__mobile__background {
  transform: scale(80);
}
.nav__mobile__checkbox:checked ~ .nav__mobile__nav {
  opacity: 1;
  width: 100%;
  height: 100vh;
}
.nav__mobile__icon {
  position: relative;
  margin-top: 3.5rem;
}
.nav__mobile__icon,
.nav__mobile__icon:before,
.nav__mobile__icon:after {
  width: 3rem;
  height: 2px;
  background-color: #fff;
  display: inline-block;
}
.nav__mobile__icon:before,
.nav__mobile__icon:after {
  content: "";
  position: absolute;
  left: 0;
  transition: all 0.2s;
}
.nav__mobile__icon:before {
  top: -0.8rem;
}
.nav__mobile__icon:after {
  top: 0.8rem;
}
.nav__mobile__button:hover .nav__mobile__icon:before {
  top: -1rem;
}
.nav__mobile__button:hover .nav__mobile__icon:after {
  top: 1rem;
}
.nav__mobile__checkbox:checked + .nav__mobile__button .nav__mobile__icon {
  background-color: transparent;
}
.nav__mobile__checkbox:checked
  + .nav__mobile__button
  .nav__mobile__icon:before {
  top: 0;
  transform: rotate(135deg);
}
.nav__mobile__checkbox:checked + .nav__mobile__button .nav__mobile__icon:after {
  top: 0;
  transform: rotate(-135deg);
}
.nav__pages {
  display: flex;
  transform: translateY(10px);
  justify-content: center;
  align-items: center;
  gap: 20px;
}
@media only screen and (max-width: 56.25em) {
  .nav__pages {
    display: none;
  }
}
.nav__pages-link {
  font-size: 1.3rem;
  font-weight: light;
  width: 80px;
  text-transform: lowercase;
  cursor: pointer;
}
.nav__pages-link:hover .nav__pages-link-title {
  opacity: 1;
}
.nav__pages-link-title {
  white-space: nowrap;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
.nav__pages-link a {
  color: #fff;
}
.nav__pages-link .m-circle {
  margin-left: calc((100% - 17px) / 2);
  margin-bottom: 5px;
}
.nav__social {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
}
@media only screen and (max-width: 56.25em) {
  .nav__social {
    display: none;
  }
}
.nav__social-link {
  -webkit-filter: grayscale(100%) brightness(100);
  filter: grayscale(100%) brightness(100);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
.nav__social-link:hover {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}
.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99999;
  transition: background-color 0.3s ease-in;
}
@media only screen and (min-width: 300px) and (max-width: 900px) {
  .section-hero__content {
    margin-top: 10rem !important;
  }
}
.nav__pages-link {
  font-size: 1.3rem;
  font-weight: light;
  text-transform: lowercase;
  cursor: pointer;
  width: 80px;
  text-align: center;
}
#header-shadow {
  z-index: 500;
  position: fixed;
  top: -50px;
  left: -50px;
  right: -50px;
  height: 250px;
  background-image: linear-gradient(black 0%, black 20%, transparent 100%);
  filter: blur(25px);
  pointer-events: none;
}
.footer-main {
  padding: 32rem 100px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 8rem;
}
.footer-main ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding-right: 10rem;
}
.footer-main ul li,
.footer-main ul li a {
  color: #fff;
  font-size: 1.8rem;
  font-weight: lighter;
  transition: all 0.3s ease-in-out;
}
.footer-main p {
  padding-right: 10rem;
  color: #fff;
}
@media only screen and (max-width: 56.25em) {
  .footer-main {
    padding: 6rem 4rem 4rem;
    text-align: center;
  }
  .footer-main ul,
  .footer-main p {
    padding: 0;
  }
}
.footer-sub {
  background: rgba(26, 26, 26, 0.9098039216);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
  row-gap: 40px;
  padding: 10rem 15rem 4rem;
  line-height: 25px;
}
@media only screen and (max-width: 56.25em) {
  .footer-sub {
    padding: 4rem;
    flex-direction: column;
  }
}
.footer-sub ul li img {
  margin-right: 1.5rem;
  cursor: pointer;
}
.footer-sub ul li,
.footer-sub ul li a {
  font-size: 18px;
  color: #fff;
  transition: all 0.3s ease-in-out;
  white-space: nowrap;
}
.footer-sub ul li:not(:last-child),
.footer-sub ul li a:not(:last-child) {
  padding-bottom: 20px;
}
.copyright {
  text-align: center;
  background: rgba(26, 26, 26, 0.9098039216);
}
.copyright span {
  font-style: normal;
  background: rgba(26, 26, 26, 0.9098039216);
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: #fff;
  text-align: center !important;
}
.street {
  display: inline;
}
.heading {
  font-size: 22px !important;
  font-weight: 700;
  line-height: 21px;
  color: #fff;
  text-transform: uppercase;
}
.info {
  margin-left: 3.5rem;
}
.bg-video {
  position: absolute;
  top: -52px;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}
.bg-video__about {
  left: 0;
  top: 79px;
  width: 100%;
  height: 87vh;
  object-fit: fill;
}
.play-click {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
  cursor: pointer;
}
.video-about,
.parent_layer {
  position: absolute;
  height: 100%;
}
.link-btn,
.link-btn:visited {
  color: #fff;
  font-weight: lighter;
  font-size: 1.6rem;
  border-bottom: 2px solid #fff;
  padding-bottom: 5px;
  transition: all 0.3s ease-in-out;
}
.link-btn:hover {
  color: #ff005c;
  border-color: #ff005c;
}
body {
  background-image: url(../files/about-our-story.png) !important;
}
.section-contact__qrcode {
  position: relative;
  overflow-y: hidden;
  min-height: 275px;
}
.section-contact__qrcode:hover .section-contact__qrcode-icon {
  opacity: 1;
}
.section-contact__qrcode-icon {
  border-radius: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: #ff005c;
  transition: all 0.3s ease-in-out;
  opacity: 0;
}
.section-services {
  padding-top: 13rem;
  text-align: center;
}
.section-services .swiper {
  padding-top: 4rem;
  padding-bottom: 4rem;
}
.section-services__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  gap: 25px;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.section-services__list-service {
  padding: 5rem 2rem 0px;
  height: 100%;
  min-height: 58rem;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  text-align: center;
  z-index: 0;
}
@media only screen and (max-width: 56.25em) {
  .section-services__list-service {
    background-size: cover;
  }
}
.section-services__list-service:hover .section-services__list-service-link {
  opacity: 1;
}
.section-services__list-service h4 {
  font-size: 3rem;
  font-weight: 700;
  color: #fff;
  letter-spacing: 4px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.section-services__list-service h4:hover {
  color: #e91c7e;
}
.section-services__list-service-link {
  padding-bottom: 20px;
  opacity: 0;
  gap: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
}
.section-services__list-service-link a {
  color: #fff;
  padding-bottom: 5px;
  border-bottom: 2px solid #fff;
  font-size: 1.2rem;
  font-weight: lighter;
  position: relative;
}
.section-services__list-service-link a:hover {
  color: #e91c7e;
  border-color: #e91c7e;
}
.section-services__list-service-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
}
.section-services__list-service-items li:hover p {
  color: #e91c7e;
}
.section-services__list-service-items p {
  cursor: pointer;
  letter-spacing: 1px;
  font-size: 1.7rem;
  font-weight: lighter;
  color: #fff;
  transition: all 0.3s ease-in-out;
}
.section-services__link {
  z-index: 100000;
  cursor: pointer;
  color: #fff;
  font-weight: lighter;
  font-size: 1.7rem;
  padding-bottom: 5px;
  border-bottom: 2px solid #fff;
}
.section-services__link:hover {
  color: #e91c7e;
  border-color: #e91c7e;
}
.section-about {
  padding: 10vh 25rem 10rem 25rem;
  color: #fff;
  background: rgba(217, 217, 217, 0.1);
}
@media only screen and (min-width: 300px) and (max-width: 900px) {
  .section .card {
    margin-left: 10rem;
  }
  .section-about {
    padding: 10vh 5rem 7rem 5rem;
    color: #fff;
    background: rgba(217, 217, 217, 0.5019607843);
  }
  .section-services {
    padding: 0rem !important;
    color: #fff;
  }
}
.section-vision {
  padding: 10rem 25rem;
  color: #fff;
}
@media only screen and (min-width: 300px) and (max-width: 900px) {
  .section-vision {
    padding: 8rem 5rem;
    color: #fff;
  }
}
.section-services {
  padding: 10rem 25rem;
  background: rgba(26, 26, 26, 0.9098039216);
  color: #fff;
}
.section-ethos {
  padding: 10rem 24rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
  background-image: url(../assets/person-bg-7560a9c9.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.section-ethos__details {
  color: #fff;
  flex: 60%;
}
.section-ethos__details-title {
  font-size: 5rem;
  font-weight: lighter;
  padding-bottom: 2rem;
}
.section-ethos__details-subtitle {
  font-size: 1.8rem;
  line-height: 1.3;
  font-weight: lighter;
}
.section-ethos__details-subtitle:not(:last-child) {
  padding-bottom: 3rem;
}
.section-services {
  display: block;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.section-services__items {
  flex: 40%;
}
.section-services__items .our-team {
  font-weight: 400;
  font-size: 5.938rem;
  line-height: 65px;
  text-align: center;
}
.section-services__items .card {
  display: flex;
  background: #000000 !important;
  text-align: center;
  color: #fff;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  --tw-bg-opacity: 1;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity));
  padding: 1.25rem;
}
.section-services__items .swiper-pagination-bullet {
  box-sizing: border-box;
  width: 15px;
  height: 15px;
  left: 694px;
  top: 2328px;
  border: 1px solid #ffffff;
}
.section-services__items .swiper-pagination-bullet-active {
  width: 15px;
  height: 15px;
  left: 658px;
  top: 2328px;
  background: #d9d9d9;
}
.section-services__items .card {
  background-color: #000;
}
.section-services__items .card img {
  border: 2px solid;
  margin-bottom: 2rem;
  border-radius: 50%;
  color: #eb0c5d;
  height: 135.52px;
  width: 135.52px;
}
.section-services__items .card h3 {
  font-family: Questrial;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #fff;
}
.section-services__items .card h4 {
  font-size: 18px;
  color: #eb0c5d;
  text-decoration: underline;
}
.section-services__items .card p {
  left: 341px;
  top: 2146px;
  font-family: Questrial;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  color: #fff;
}
.section-services__items h2 {
  font-size: 3.5rem;
  font-weight: lighter;
  padding-bottom: 2.5rem;
}
.section-services__items ul {
  list-style: inside;
}
.section-services__items ul li {
  font-weight: lighter;
  font-size: 2rem;
  padding-bottom: 20px;
}
.section__head-title {
  font-size: 5rem;
  font-weight: lighter;
  padding-bottom: 10px;
}
.section__head-subtitle {
  font-size: 5rem;
  font-weight: lighter;
  padding-bottom: 3rem;
}
.section__head-descr {
  font-size: 1.79rem;
  font-weight: lighter;
  line-height: 1.2;
}
.section-service {
  padding: 4rem 25rem;
}
@media only screen and (max-width: 56.25em) {
  .section-service {
    padding: 4rem 3rem;
  }
}
.section-service h3 {
  font-size: 5.2rem;
  font-weight: lighter;
  line-height: 1.3;
  color: #fff;
  white-space: pre-line;
  letter-spacing: 2px;
}
@media only screen and (max-width: 56.25em) {
  .section-service h3 {
    font-size: 3.5rem;
    text-align: center;
  }
}
.section-service__qrcode {
  display: flex;
  padding-top: 4rem;
}
@media only screen and (max-width: 56.25em) {
  .section-service__qrcode {
    flex-direction: column-reverse;
    gap: 3.5rem;
  }
}
.section-service__qrcode-title {
  font-size: 4.2rem;
  font-weight: lighter;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  transition: all 0.3s ease-in-out;
}
@media only screen and (max-width: 56.25em) {
  .section-service__qrcode-title {
    gap: 5px;
    flex-direction: column-reverse;
  }
  .section-service__qrcode-title svg {
    transform: rotate(-90deg);
    width: 35px;
    height: 40px;
  }
}
.section-service__qrcode-title svg {
  width: 50px;
  height: 50px;
}
.section-service__qrcode-title svg path {
  transition: all 0.3s ease-in-out;
}
.section-service__qrcode-title:hover {
  color: #ff005c;
}
.section-service__qrcode-title:hover svg path {
  stroke: #ff005c;
}
.swiper-button-next,
.swiper-button-prev {
  color: #ccc !important;
}
.swiper-button-next,
.swiper-rtl .swiper-button-prev {
  right: 0px !important;
  left: auto;
}
.swiper-button-prev,
.swiper-rtl .swiper-button-next {
  left: 0px !important;
  right: auto;
}
.section-services__items .swiper-pagination-bullet-active {
  background: #d9d9d9;
}
.swiper-pagination-bullet {
  background: rgb(255, 255, 255);
}
@media only screen and (min-width: 2000px) {
  .section-services {
    padding: 10rem 45rem;
  }
}
.mh-cards-container {
  max-width: 1040px;
  margin: auto;
}
.mh-card {
  padding-inline: 60px;
  padding-block: 10px;
}
.mh-card .mh-card--img {
  margin-top: 30px;
}
.mh-card .mh-card--p {
  padding-block: 20px;
  padding-inline: 10px;
}
@media (min-width: 900px) {
  .mh-card {
    padding-inline: 10px;
    padding-block: 10px;
  }
  .mh-cards-container-force .swiper-button-next {
    transform: translate(10px);
  }
}
.mh-swiper-block {
  position: relative;
}
.mh-swiper-block .swiper-button {
  opacity: 0;
}
.mh-swiper-block .mh-swiper-block--arrow {
  position: absolute;
  top: calc(50% - 30px);
  width: 22px;
  height: 60px;
  z-index: 999;
  cursor: pointer;
}
.mh-swiper-block .mh-swiper-block--arrow.mh-swiper-block--arrow-prev {
  left: 0;
  background-image: url(../icons/swiper-arrow-left.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.mh-swiper-block .mh-swiper-block--arrow.mh-swiper-block--arrow-next {
  right: 0;
  background-image: url(../icons/swiper-arrow-right.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.bg-video__about {
  height: auto;
}
@media (min-width: 900px) {
  .mh-swiper-block .mh-swiper-block--arrow.mh-swiper-block--arrow-prev {
    transform: translate(-40px);
  }
  .mh-swiper-block .mh-swiper-block--arrow.mh-swiper-block--arrow-next {
    transform: translate(40px);
  }
}
#header-shadow {
  z-index: 500;
  position: fixed;
  top: -50px;
  left: -50px;
  right: -50px;
  height: 250px;
  background-image: linear-gradient(black 0%, black 20%, transparent 100%);
  filter: blur(25px);
}
@media (max-width: 900px) {
  .section-service__qrcode {
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 6rem;
  }
}
@media (min-width: 1200px) {
  .section-service__qrcode-title {
    font-size: 72px;
    margin-inline-end: 10%;
    transform: translateY(-20px);
  }
}
@media (min-width: 500px) and (max-width: 720px) and (min-height: 300px) and (min-height: 900px) {
  .bg-video__about {
    height: auto;
  }
}
@media (min-width: 320px) and (max-width: 450px) and (min-height: 300px) and (min-height: 900px) {
  .section-video {
    padding: 20vh !important;
  }
  .bg-video__about {
    height: auto;
  }
}
.parent_layer {
  position: relative;
  width: 100%;
  height: auto;
  margin: 79px auto auto;
  text-align: center;
}
.bg-video__about {
  padding-inline: 4rem;
  display: block;
  width: 100%;
  height: auto;
}
.play-click {
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: Questrial, sans-serif;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow-x: hidden;
}
@media only screen and (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}
@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}
@media only screen and (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}
body {
  box-sizing: border-box;
  background: #151515;
  overflow-x: hidden;
}
@media only screen and (max-width: 56.25em) {
  body {
    padding: 0;
  }
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar:hover {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #fff;
}
::-webkit-scrollbar-thumb {
  background: #151515;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #6c7b9e;
}
::selection {
  background-color: #151515;
  color: #fff;
}
